*{
    margin:0;
    padding:0;
}
body{
    height:100%;
    width:100%;
    background-image:url('../images/login_image.jpg');
    background-size: cover;
    background-attachment: fixed;
    

}
.login{
    background-color: black;
    min-height:400px;
    width:550px;
    border: 8px solid rgb(111, 195, 233);
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    margin-top:30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding:20px 0px;
}
.login img{
    height:100px;
    width:100px;
}
.login h1{
    margin:5px 0px 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subhead{
    color:white;
    padding:2px 0px;
    font-size: 16px;
    font-weight: bold;
}

.login-details{
    margin:30px auto;
    width:75%;
    padding-bottom: 30px;
}
.login-details p{
    color:white;
    padding:5px 0px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.options{
    margin-top: 10px;
}
.options p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.login-details select{
    height: 40px;
    width: 80%;
}
.login button{
    height:50px;
    width:140px;
    font-size: 16px;
    font-weight: 100;
    border-radius:60px;
    color:white;
    border:2px solid white;
    background-color: black;
    margin-top: 30px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



 /* ........ CSS FOR RESPONSIVE........  */

 
 @media (max-width: 768px) { 
    .login{
        min-height:400px;
        width:400px;
    }
    
 }
 @media (max-width: 576px) { 
    .login{
        min-height:400px;
        width:350px;
        margin-top:100px;
    }
    .login-details p{
        padding:5px 0px 7px;
        font-size: 12px;
    }
    .login-details select{
        height:35px;
        width: 85%;
    }
    
 }


